<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a routerLink="/home"  class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/servers" routerLinkActive="active" class="nav-link">Servers</a>
    </li>
    <li class="nav-item">
      <a routerLink="/server" routerLinkActive="active" class="nav-link">Server</a>
    </li>
        <li class="nav-item">
      <a routerLink="/profile" routerLinkActive="active" class="nav-link">Profile</a>
    </li>
  </ul>
  <hr>
</div>

